<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <title>Supremo Tribunal Federal</title>
    <link rel="icon" type="imagem/png" href="/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    
    <meta name="google-site-verification" content="TUTJo8ROAM8XavmbKiwZHSqa6ouc80haSs4oW3zPG-o" />
    <meta name="DESCRIPTION" content="O Supremo Tribunal Federal é o órgão de cúpula do Poder Judiciário, e a ele compete, precipuamente, a guarda da Constituição, conforme definido no art. 102 da Constituição da República.">

    
</head>
<body>
    <div>
        <div id="conteudo"></div>
    </div>
</body>
</html>